.counter{
    display: flex;
    justify-content: space-between;
}

.counter p {
    color: var(--blue);
    font-weight: 700;
   
    display: flex;
    justify-content: space-between;
}



.counter p .numberCounter {
    background: var(--gray-400);
    padding: 2px 8px;
    margin-left: 4px;
    border-radius: 999px;
    color: var(--gray-200);
    gap: 10px;

   
    font-size: 12px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;

    flex: none;
    order: 1;
    flex-grow: 0;
}